{{- /*gotype: demo/models.Order*/ -}}
{{- /*
  HOVER TOOLTIPS & NAVIGATION DEMO

  - hover over if -> inside is highlighted
  - template reference and some docs
  - hover over end -> tells you what you end

  - hover over fields -> type
  - hover over dot -> type

  - hover over builtin functions (len/and) -> doc for the function

  - jump to definition on field
  - jump to definition on variable
  - jump to definition on a function

  - find references on a variable

  - document outline with define
*/ -}}

{{ if .Paid -}}
Order {{ .ID }} is paid.
{{- end }}

{{ $order := . }}
Total: {{ $order.TotalAmount }}
Large: {{ $order.IsLargeOrder }}

{{ range $i, $item := .Items }}

{{ with $item }}
  {{- template "order-line" . }}
{{ end }}
{{ end }}

Items: {{ .Items | len }}
Total: {{ .Items | and }}

{{ repeat "=" 30 }}

{{- define "order-line" -}}
{{- /*gotype: demo/models.Item*/ -}}
- {{ .Name }} x{{ .Qty }} @ {{ .UnitPrice }}
  {{- if .IsExpensive }} ★ premium{{- end }}
{{- end -}}

{{- define "order-line-2" -}}
{{- /*gotype: demo/models.Item*/ -}}
- {{ .Name }} x{{ .Qty }} @ {{ .UnitPrice }}
  {{- if .IsExpensive }} ★ premium{{- end }}
{{- end -}}
