{{- /*gotype: demo/models.Order*/ -}}
{{- /*
  DIAGNOSTICS DEMO

  - wrong gotype
*/ -}}

{{/* === unfinished tag === */}}
Customer: {{ .CustomerName
{{/*  */}}

Customer: {{ .CustomerName }}

{{- /* === undefined variable === */ -}}
{{ $missing }}

{{- /* === correct version === */}}
{{ $name := .CustomerName }}
Customer: {{ $name }}

{{/* === redeclared variable === */}}
{{ $name := "eee" }}


{{ range $i, $i := .Items }}

{{ end }}

{{- /* === unknown function === */ -}}
{{ .CustomerName | shoutXX }}

{{- /* === registered user function === */}}
{{ .CustomerName | upper }}

{{- /* === unknown function === */ -}}
Count: {{ .Items | length }}

{{- /* === global function === */}}
Count: {{ .Items | len }}

{{/* === type error in function === */}}
{{ repeat 1 "asdasd" }}

{{/* === non-existent field === */}}
{{ .Anything }}

{{/* === range over a struct === */}}
{{ range .Address }}

{{ end }}

{{/* === invalid command === */}}
{{  }}

{{/* === changing variable type === */}}

{{ $num := 1 }}

{{ $num = "1" }}


{{/* === empty define name === */}}

{{ define "" }}

{{ end }}
