{{/*gotype: cg/model.Order*/}}

{{ $test := 0 }}

{{ .CustomerName }}

{{ .DisplayName }}

{{ range .Items }}
    {{ .Desc }}
{{ end }}

{{ with .Address }}
    {{ .Country }}
{{ end }}

{{ .Address.Desc.Long }}

{{ $test }}

{{ $test }}

{{ $rangeee := "fake range" }}

{{ $tt := .Address }}

{{  }}

{{ with .Address }}
    {{  }}
{{ end }}

{{ .Items }}

{{$variable := "abc"}}

{{ $variable }}
