{{/*gotype: cg/model.Order*/}}

{{ $test := 0 }}

{{ .CustomerName }}

{{ .DisplayName }}

{{ range .Items }}
    {{ .Desc }}
{{ end }}

{{ with .Address }}
    {{ .Country }}
{{ end }}

{{ .Address.Desc.Long }}

{{ $test }}

{{ $test }}

{{$variable := "abc"}}

{{ $variable }}
